img {
   max-width: 100%;
    height: auto;
}

div[class*="col-"] {
  background: #fff;
  text-align: center;
  color: #000;
  border: 2px solid #ddd;
  padding: 5px;
}
.row {
  margin-bottom: 15px;
}

.div item-title{
    color: orange;
    font-weight:bold;
}

iframe{
    height:100%;
    width:100%;
}

.loader {
    height: 4px;
    width: 100%;
    position: relative;
    overflow: hidden;
    background-color: #ddd;
}

    .loader:before {
        display: block;
        position: absolute;
        content: "";
        left: -200px;
        width: 200px;
        height: 4px;
        background-color: #2980b9;
        animation: loading 2s linear infinite;
    }

@keyframes loading {
    from {
        left: -200px;
        width: 30%;
    }

    50% {
        width: 30%;
    }

    70% {
        width: 70%;
    }

    80% {
        left: 50%;
    }

    95% {
        left: 120%;
    }

    to {
        left: 100%;
    }
}